# Copyright 2020 Lingfei Kong <colin404@foxmail.com>. All rights reserved.
# Use of this source code is governed by a MIT style
# license that can be found in the LICENSE file.

language: go
go:
  - 1.7
  - 1.6
  - 1.5
  - 1.4
  - 1.3
  - 1.2
install:
  - go get -t -v ./...
notifications:
  email:
    recipients: parnurzeal@gmail.com
    on_success: change
    on_failure: always
